img {
    width: 200px;
  }

*{
  color: goldenrod;
  background-color: blue;
}
button{
  cursor: pointer;
}
p {
  font-family: "Times New Roman", Times, serif;
}
body {
    text-align: center;
    font-family: 'Arial';
    background: azure;
    color: purple;
  }